@use '../../variables';

.header {
    @include variables.flex-between;
    margin: 45px 100px 0 100px;
    img {
        width: 210px;
        height: 68px;
    }
    nav {
        @include variables.flex-between;
        width: 250px;
        height: 34px;
        a {
            font-size: 24px;
            font-weight: 500;
            text-decoration: none;
            color: variables.$black;
            &.active {
                text-decoration: underline 2px;
            }
        }
    }
}

@media (max-width: variables.$mobile-maxwidth) {
    .header {
        margin: 20px 20px 0 20px;
        img {
            width: 145px;
            height: 47px;
        }
        nav {
            width: 140px;
            a {
                font-size: 12px;
                font-weight: 400;
                text-transform: uppercase;
            }
        }
    }
}