@use '../../variables';

.footer {
    background-color: variables.$black;
    text-align: center;
    padding: 29px 0;
    img {
        width: 122px;
        height: 40px;
        margin: 29px 0;
    }
    h2 {
        margin: 0 auto;
    }
}

@media (max-width: variables.$mobile-maxwidth) {
    .footer {
        img {
            margin-bottom: 10px;
        }
        h2 {
            width: 100px;
            margin-bottom: 19px;
        }
    }
}