@use '../../variables';

.footer {
    background-color: variables.$black;
    text-align: center;
    padding: 29px 0;
    img {
        width: 122px;
        height: 40px;
        margin: 29px 0;
    }
}