/*#region General*/
@use './variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px; // 1rem = 18px
    color: variables.$white;
}

h1 {
    font-size: 2rem;
    font-weight: 700; // Bold
}

h2 {
    font-size: 1.333rem;
    font-weight: 500; // Medium
}

h3 {
    font-size: 1rem;
    font-weight: 500; // Medium
}

p {
    font-size: 1rem;
    font-weight: 400; // Regular
}

main {
    margin: 50px 100px;
}

@media (max-width: variables.$mobile-maxwidth) {
    h1 {
        font-size: 1rem;
    }
    h2 {
        font-size: 0.667rem;
    }
    h3 {
        font-size: 0.778rem;
    }
    p {
        font-size: 0.667rem;
    }
    main {
        margin: 27px 20px;
    }
}
/*#endregion*/

/*#region Error Page*/
.error {
    text-align: center;
    h1 {
        font-size: 288px;
        color: variables.$main-color;
    }
    h2 {
        color: variables.$main-color;
    }
    h3 {
        color: variables.$black;
    }
    h1, h3 {
        margin: 139px 0;
    }
}

@media (max-width: variables.$mobile-maxwidth) {
    .error {
        h1 {
            font-size: 96px;
            margin: 113px 0;
        }
        h1, h3 {
            margin: 113px 0;
        }
    }
}
/*#endregion*/

/*#region About Page*/
.about {
    margin: 38px 100px;
}

@media (max-width: variables.$mobile-maxwidth) {
    .about {
        margin: 19px 20px;
    }
}
/*#endregion*/

/*#region Housing Page*/
.housing {
    .row {
        display: flex;
        justify-content: space-between;
    }
    .info-housing {
        color: variables.$black;
        h1 {
            font-size: 36px;
            font-weight: 500;
            color: variables.$main-color;
        }
    }
    .info {
        @include variables.flex-between;
        margin-top: 30px;
    }
    .tags {
        margin: 27px 0 24px 0;
        display: flex;
        align-items: center;
        gap: 10px;
        div {
            font-size: 14px;
            font-weight: 700;
            padding: 3px 40px;
            color: variables.$white;
            background-color: variables.$main-color;
            border-radius: 10px;
        }
    }
    .host {
        display: flex;
        justify-content: end;
        align-items: center;
        h3 {
            width: 60%;
            text-align: right;
            color: variables.$main-color;
            margin-right: 10px;
            span {
                display: block;
            }
        }
        img {
            width: 64px;
            height: 64px;
            border-radius: 100px;
        }
    }
}

@media (max-width: variables.$mobile-maxwidth) {
    .housing {
        .info {
            flex-direction: column;
            margin-top: 15px;
        }
        .info-housing {
            width: 100%;
            h1 {
                width: 72%;
                font-size: 19px;
                font-weight: 500;
                margin-bottom: 5px;
            }
            h4 {
                font-size: 14px;
            }
        }
        .info-host {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            h4 {
                font-size: 12px;
            }
            img {
                width: 32px;
                height: 32px;
            }
        }
        .tags {
            margin: 10px 0 0 0;
            div {
                font-size: 10px;
                padding: 3px 20px;
                border-radius: 5px;
            }
        }
        .row {
            display: block;
        }
    }
}

@media (max-width: 350px) {
    .housing {
        .tags {
            div {
                padding: 3px 10px;
            }
        }
    }
}
/*#endregion*/