@use './variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: variables.$white;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-weight: 500;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

h4 {
    font-size: 18px;
    font-weight: 500;
}

p {
    font-size: 18px;
    font-weight: 400;
}

a {
    color: variables.$black;
}

main {
    margin: 50px 100px;

}

.error {
    text-align: center;
    h1 {
        font-size: 288px;
        margin: 139px 0;
        color: variables.$main-color;
    }
    h2 {
        color: variables.$main-color;
    }
    a {
        display: block;
        margin: 139px 0;
    }
}

.about {
    margin: 38px 100px;
}

.housing {
    .row {
        @include variables.flex-between;
        & > div {
            width: 46%;
            margin: 0;
        }
    }
    .housing {
        color: variables.$black;
        h1 {
            font-size: 36px;
            font-weight: 500;
            color: variables.$main-color;
        }
    }
    .info {
        @include variables.flex-between;
        margin-top: 30px;
    }
    .tags {
        margin: 27px 0 24px 0;
        display: flex;
        gap: 10px;
        div {
            font-size: 14px;
            font-weight: 700;
            padding: 3px 40px;
            color: variables.$white;
            background-color: variables.$main-color;
            border-radius: 10px;
        }
    }
    .host {
        display: flex;
        justify-content: end;
        align-items: center;
        h4 {
            width: 60%;
            text-align: right;
            color: variables.$main-color;
            margin-right: 10px;
            span {
                display: block;
            }
        }
        img {
            width: 64px;
            height: 64px;
            border-radius: 100px;
        }
    }
    .accordion-button h3 {
        font-size: 18px;
    }
}

.star-active, .star-inactive {
    width: 36px;
    height: 36px;
}
