@use '../../variables';

.accordion-wrapper {
    width: 80%;
    margin: 0 auto 30px auto;
    .accordion-button {
        @include variables.flex-between;
        background-color: variables.$main-color;
        border-radius: 5px;
        padding: 10px 15px 8px 15px;
        h3 {
            font-weight: 700;
        }
        .arrow {
            transition: all 380ms;
            &.active {
                transform: rotate(-0.5turn);
            }
        }
    }
    .accordion-content {
        color: variables.$black;
        background-color: variables.$main-background-color;
        border-radius: 0 0 5px 5px;
        //Animation
        display: grid;
        grid-template-rows: 0fr;
        padding: 0 20px;
        transition: all 380ms ease-in-out;
        &.active {
            grid-template-rows: 1fr;
            padding: 20px 20px 20px 20px;
        }
    }
    .accordion-content > div {
        overflow: hidden;
    }
    li {
        font-size: 18px;
        font-weight: 400;
        list-style-type: none;
    }
    li ~ li {
        margin-top: 3px;
    }
}

@media (max-width: variables.$mobile-maxwidth) {
    .accordion-wrapper {
        width: 100%;
        .accordion-button h3 {
            font-size: 13px;
        }
        .accordion-content *  {
            font-size: 12px;
        }
    }
}